<div class="row">
	<div class="col-xs-12">
		<img
    [src]="student.imagePath"
    alt="{{ student.name }}"
    class="img-responsive"
    style="max-height: 300px;">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1> {{ student.name }}</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle">Manage Student <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li> <a href="#">To Teacher List</a></li>
        	<li> <a href="#">Edit Student</a></li>
          	<li> <a href="#">Delete Student</a></li>
			</ul></div>
		</div>
	</div>
  <div class="row">
	<div class="col-xs-12">
  {{ student.description }}
  </div></div>
    <div class="row">
	<div class="col-xs-12">
  Subjects
  </div></div>

