

<div class="row">
    <label class="col-md-4 control-label ">Class</label>
</div>

<div class="row">
    <div class="col-md-1 control-label "></div> <label class="col-md-4 control-label ">{{assignment.question.subject.grade}}</label>
</div>

<div class="row">
   <label class="col-md-4 control-label ">Faculty</label>
</div>
<div class="row">
 <div class="col-md-1 control-label "></div>  <label class="col-md-4 control-label ">{{assignment.question.subject.faculty}}</label>
</div>

<div class="row">
    <label class="col-md-4 control-label ">Subject</label>
</div>
<div class="row">
    <div class="col-md-1 control-label "> </div> <label class="col-md-4 control-label ">{{assignment.question.subject.name}}</label>
</div>

<div class="row">
    <label class="col-md-4 control-label ">Question</label>
</div>
<div class="row">
    <div class="col-md-1 control-label "> </div>  <label class="col-md-4 control-label ">{{assignment.question.name}}</label>
</div>


<div class="row">
    <label class="col-md-4 control-label ">Answer</label>
</div>
<div class="row">
    <div class="col-md-1 control-label "></div> <label class="col-md-4 control-label ">{{assignment.value}}</label>
</div>


